body{
	font-family: Arial, Helvetica, sans-serif
}

table{
	border: 1px solid #F0F0F0;
	border-collapse: separate;
	border-radius: 5px;
	border-spacing: 0px;
}

.content > table{
	width: 70vw;
}

td{
	padding: 5px 10px;
	border-left: 1px solid #F0F0F0;
	border-bottom: 1px solid #F0F0F0;
}

.pageSides{
	background: #C0C0C0;
	width: 10vw;
	padding: 5px 10px;
	z-index: 10;
}

.categories{
	padding: 5px 20px;
	text-align: center;
}

.pageLeft{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
}

.pageRight{
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
}

.content{
	position: absolute;
	top: 20px;
	left: 13vw;
}

.topic{
	font-weight: bold;
	padding: 5px;
}

.categories, .topic{
	margin-right: -10px;
	margin-left: -10px;
	cursor: pointer;
}

.topic:hover, .categories:hover{
	background-color: #F0F0F0;
}

.logo{
	width: 10vw;
	padding-bottom: 20px;
}

.cat_icon{
	width: 2vw;
}

.grayZone{
	background: #C0C0C0;
	width: 10vw;
	height: 100%;
	position: fixed;
	z-index: 1;
	margin-left: -8px;
	padding-left: 10px;
	padding-right: 10px;
}

a{
	text-decoration: none;
	color: #000;
}

.hidden{
	display: none;
}

.loginForm, .registerForm, .actions{
	text-align: center;
}

.smallText{
	font-size: 1.6vh;
}

.msgBox{
	border-radius: 7px;
	color: #FFF;
	padding: 5px 10px;
}

.blackScreen{
	background: rgba(0,0,0,0.7);
	bottom: 0px;
	left: 0px;
	position: fixed;
	right: 0px;
	top: 0px;
	z-index: 100;
	display: none;
}

.infoScreen{
	background: rgba(255,255,255,1.0);
	border-radius: 5px;
	left: 28vw;
	padding: 5px 10px;
	position: fixed;
	top: 25vh;
	z-index: 101;
}

.closeInfo{
	float:right;
	top: 10px;
	margin-left: 10px;
}

.info{
	color: #42b0f4;
}

.remove{
	color: red;
}

.modify{
	color: green;
}

.info, .remove, .modify{
	font-size:calc(1.1vw);
	margin-left: 4px;
}

.searchResults{
	background: #FFF;
	border: 1px solid #000;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 152px;
}

.searchEntry{
	border-radius: 5px;
	padding: 5px 10px;
}

.searchEntry:hover{
	background: #F0F0F0;
}

.floatRight{
	float: right;
}

.floatLeft{
	float: left;
}

.green{
	color: green;
}

.red{
	color: red;
}

.buttons{
	cursor: pointer;
}

.addEntry{
	border: 1px solid #000;
	padding: 5px 10px;
	background: #FFF;
	border-radius: 5px;
	cursor: pointer;
}

.addEntryDiv > input{
	width: 99%;
}

option.icon{
	height: 60px;
	padding-top: 20px;
	padding-left: 85px;
	background-repeat: no-repeat;
}