<!DOCTYPE html>
<html>
    <head>
        <title>Create {{type}} for {{uid}}</title>
        <link rel="stylesheet" href="{{stylesheet}}" />
    </head>
    <body>
        <div class="content">
            loop for {{type}}
        </div>
        <script src="/js/rewards.js"></script>
    </body>
</html>