<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{stylesheet}}" />
    </head>
    <body>
        <div id="left">
            left
        </div>
        <div id="right">
            right
        </div>
        <div class="content">
            <a href="{{link}}" target="_blank">
                <img src="{{link}}" class="image" />
            </a>
        </div>
        <script src="/js/rewards.js"></script>
    </body>
</html>