<!DOCTYPE html>
<html>
    <head>
        <title>User</title>
        <link rel="stylesheet" href="{{stylesheet}}" />
    </head>
    <body>
        <div id="left">
            left
        </div>
        <div id="right">
            right
        </div>
        <div class="content">
            get user info for user {{user}}<hr />
            Number of camouflages: {{camouflageCount}}<br />
            Number of consumables: {{consumableCount}}<br />
            Number of currency: {{currencyCount}}<br />
            Number of flags: {{flagCount}}<br />
            Number of specials: {{specialCount}}<br />
        </div>
        <script src="/js/rewards.js"></script>
    </body>
</html>