<!DOCTYPE html>
<html>
    <head>
        <script>
            var cont = "{{super}}";
            var type = "{{type}}";
            var contType = null;
            if(cont==1){
                contType = "supercontainer";
            }else{
                contType = "normalcontainer";
            }
            document.title = "View user "+contType+" "+type;
        </script>
        <title></title>
        <link rel="stylesheet" href="{{stylesheet}}" />
    </head>
    <body>
        <div id="left">
            left
        </div>
        <div id="right">
            right
        </div>
        <div class="content">
            <table>
                <tr>
                {{#each icons.[0]}}
                    <td>{{@key}}</td>
                {{/each}}
                </tr>
                {{#each icons}}
                    <tr>
                    {{#each this}}
                        <td>
                            {{#if this.icons.filename}}
                                img/{{this.icons.filename}}
                            {{/if}}
                            {{#unless this.icons.filename}}
                                {{this}}
                            {{/unless}}
                        </td>
                    {{/each}}
                    </tr>
                {{/each}}
            </table>
            get {{type}} containers for user {{uid}}<br />
            <table><tr>
                {{#each result.[0]}}
                    <td><b>{{@key}}</b></td>
                {{/each}}
                </tr>
                {{#each result}}
                <script>console.log({{this.icon}});</script>
                    <tr>
                    {{#each this}}
                        <td>
                            {{#if icon.filename}}
                                img/{{this.icon.filename}}
                            {{/if}}
                            {{#unless icon.filename}}
                                {{this}}
                            {{/unless}}
                        </td>
                    {{/each}}
                    </tr>
                {{/each}}
            </table>
        </div>
        <script src="/js/rewards.js"></script>
    </body>
</html>